= form_for @article do |f|
  - if @article.errors.any?
    #error_explanation
      %h2= "#{pluralize(@article.errors.count, "error")} prohibited this article from being saved:"
      %ul
        - @article.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :price
    = f.text_field :price
  .field
    = f.label :total_in_shelf
    = f.text_field :total_in_shelf
  .field
    = f.label :total_in_vault
    = f.text_field :total_in_vault
  .field
    = f.label :store_id
    = f.text_field :store_id
  .actions
    = f.submit 'Save'
