%h1= 'Listing articles (' + @store.name + ')'

.page-menu
  = link_to 'List Stores', stores_path, :class => 'btn btn-default'
  = link_to 'New Article', new_store_article_path(@store), :class => 'btn btn-default'

%table.table.table-bordered
  %tr
    %th Name
    %th Price
    %th Total in shelf
    %th Total in vault
    %th Store
    %th
    
  - if @articles.empty?
    %tr
      %td.t-center{'colspan'=>'6'} The are no articles in this store.

  - @articles.each do |article|
    %tr
      %td= article.name
      %td= article.price
      %td= article.total_in_shelf
      %td= article.total_in_vault
      %td= article.store_id
      %td.td-actions
        .btn-group
          = link_to [@store, article], :class => 'btn btn-default' do
            %i.icon-eye-open
            Show
          = link_to edit_store_article_path(@store, article), :class => 'btn btn-default' do
            %i.icon-edit
            Edit
          = link_to [@store, article], :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger' do
            %i.icon-remove-sign
            Destroy

%br
