%h1 Article Details

.page-menu
  = link_to 'List Articles', store_articles_path(@store), :class => 'btn btn-default'
  = link_to 'Edit', edit_store_article_path(@store, @article), :class => 'btn btn-default'

%p#notice= notice

.row
  .span12
    %p
      %b Name:
      = @article.name
    %p
      %b Description:
      = @article.description
    %p
      %b Price:
      = @article.price
    %p
      %b Total in shelf:
      = @article.total_in_shelf
    %p
      %b Total in vault:
      = @article.total_in_vault
    %p
      %b Store:
      = @article.store_id

