%h1 Store Details

.page-menu
  = link_to 'List Stores', stores_path, :class => 'btn btn-default'
  = link_to 'List Articles', root_path, :class => 'btn btn-default'
  = link_to 'Edit', edit_store_path(@store), :class => 'btn btn-default'

%p#notice= notice

.row
  .span12
    %p
      %b Name:
      = @store.name
    %p
      %b Address:
      = @store.address

