!!! 5
%html
  %head
    %title= yield(:title) || 'Super Zapatos'
    %meta{ 'name'=>"viewport", 'content'=>"width=device-width, initial-scale=1.0" }
    %meta{ 'http-equiv'=>"Content-Language", 'content'=>"#{I18n.locale.to_s}" }

    = stylesheet_link_tag    "application", "media" => "all", "data-turbolinks-track" => 'true'
    = stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800"
    /[if lt IE 8]
      = stylesheet_link_tag "font-awesome-ie7.min.css", media: "all"
      
    = javascript_include_tag "application", "data-turbolinks-track" => 'true'
    = csrf_meta_tags 
    
    = yield(:head) if content_for?(:head)

  #page-body= render 'body'

